.button-std {
  width: 210px;
  height: 50px;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  font: 400 16px $font-primary;
  text-align: center;
  text-decoration: none;
  color: $primary-light-color;
  vertical-align: middle;
  line-height: 50px;

  &:hover,
  &:active {
    background-color: $brand-color;
  }
}

  .button-subscribe {
    width: 80%;
    height: 50px;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    font: 400 16px $font-primary;
    text-align: center;
    text-decoration: none;
    color: $primary-light-color;
    vertical-align: middle;
    line-height: 50px;

    padding: 0;
    background-color: $brand-color;

    margin: 10px auto 0;
    &:hover,
    &:active {
	 background-color: lighten($brand-color, 5%);
    }
  }



.scroll {
  width: 35px;
  height: 35px;
  display: block;
  border: 2px solid $primary-light-color;
  border-radius: 50%;
  .fa {
    display: block;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: $primary-light-color;
  }
}