.portfolio-gallery {
  list-style: none;
  text-align: center;
  padding: 0;

  li {
    display: inline-block;
    //width: 300px;
    width: 90%;

    height: auto;
    margin: 10px;


    .portfolio-gallery-wrapper{
      position: relative;
      max-width: 360px;
      margin: 0 auto;


      &:hover .hover,
      &:active .hover {
        opacity: 1;
      }

      img {
        width: 100%;
        max-width: 360px;
        height: auto;
        //width: inherit;
        //height: inherit;


      }
      .hover {
        width: 100%;
        max-width: 360px;
        height: 100%;
        position: absolute;
        top: 0;
        background-color: rgba(247, 96, 14, 0.8);
        opacity: 0; //hover hide


        h3{
          margin-top: 35%;
          font: 600 25px $font-primary;
          color: $primary-light-color;


        }
        p{
          padding: 0 10px;
          font: 400 14px/26px $font-primary;
          color: $primary-light-color;

        }
        a{}


      }



    }





  }

}

